.about {
  background: rgba(244, 245, 247, 1);
  padding: 0 15px;

  // .about__block

  &__block {
    padding-top: 46px;
    padding-bottom: 46px;
    @media (min-width: 600px) {
      display: flex;
      padding-top: 77px;
      padding-bottom: 76px;
    }
  }

  // .about__column

  &__column {
    font-size: 22px;
    line-height: 32px;
    @media (min-width: 600px) {
      margin-right: 29px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  // .about__title

  &__title {
    font-weight: 700;
  }

  // .about__text
}
