.audience {
  background-color: #00a1c60f;
  padding: 50px 0px 35px 0px;
  @media (min-width: 768px) {
    padding: 108px 0px 110px 0px;
  }

  // .audience__block

  &__block {
    padding: 0 15px;
  }

  // .audience__info

  &__info {
  }

  // .audience__cards

  &__cards {
  }
}
.info-audience {
  display: flex;
  flex-direction: column;
  align-items: center;
  // .info-audience__engage

  &__engage {
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
  }

  // .info-audience__title

  &__title {
    margin-top: 17px;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    text-align: center;
    max-width: 455px;
    @media (min-width: 768px) {
      margin-top: 24px;
    }
  }

  // .info-audience__text

  &__text {
    margin-top: 30px;
    line-height: 34px;
    max-width: 540px;
    text-align: center;
  }

  // .info-audience__buttons

  &__buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;

    @media (min-width: 768px) {
      align-items: center;
      justify-content: center;
      flex-direction: row;
      margin-top: 34px;
      margin-bottom: 111px;
    }
  }

  // .info-audience__btn

  &__btn {
    border-radius: 2px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #3040c4;
    line-height: 48px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }
    @media (min-width: 768px) {
      margin-bottom: 0;
      margin-right: 10px;
      width: 160px;
      text-align: center;
      &:last-child {
        margin-right: 0;
      }
    }
    &_white {
      background-color: #fff;
      color: $mainColor;
    }
  }
}

.cards {
  display: flex;
  flex-direction: column;

  @media (min-width: 500px) {
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 -15px;
  }

  &__column {
    margin-bottom: 15px;
    @media (min-width: 500px) {
      flex: 1 0 50%;
      padding: 0 15px;
    }
    @media (min-width: 768px) {
      flex: 1 0 25%;
      padding: 0 15px;
      margin-bottom: 0px;
    }
  }

  // .cards__item

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    padding: 22px 0px 33px 0px;
    &_selected {
      background-color: #3141c5;
      color: #fff;
    }
  }

  // .cards__logo

  &__logo {
    img {
      max-width: 100%;
    }
  }

  // .cards__link

  &__link {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    padding-top: 22px;
  }
}
