.communication {
  padding: 0 15px;
  // .communication__block

  &__block {
    padding-top: 50px;
    padding-bottom: 50px;
    @media (min-width: 767px) {
      padding-top: 108px;
      padding-bottom: 110px;
    }
  }

  // .communication__main

  &__main {
    @media (min-width: 767px) {
      margin-bottom: 26px;
    }
  }

  // .communication__advantages

  &__advantages {
  }
}

.main-communication {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 767px) {
    flex-direction: row;
  }
  // .main-communication__block

  &__block {
    @media (min-width: 767px) {
      width: 57%;
    }
  }

  // .main-communication__content

  &__content {
  }

  // .main-communication__link

  &__link {
    font-size: 22px;
    font-weight: 700;
    line-height: 34px;
    color: #0189d1;
    padding-top: 13px;
  }

  // .main-communication__title

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    max-width: 374px;
    padding-top: 17px;
    @media (min-width: 767px) {
      padding-top: 39px;
      font-size: 56px;
      line-height: 56px;
    }
  }

  // .main-communication__text

  &__text {
    line-height: 34px;
    max-width: 100%;
    padding-top: 18px;
    @media (min-width: 767px) {
      padding-top: 41px;
      max-width: 433px;
    }
  }

  // .main-communication__btn

  &__btn {
    width: 160px;
    line-height: 48px;
    color: #fff;
    background-color: #3040c4;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 30px;
    @media (min-width: 767px) {
      margin-bottom: 43px;
    }
  }

  // .main-communication__picture

  &__picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    @media (min-width: 767px) {
      width: 43%;
      margin-top: 0px;
    }
  }

  // .main-communication__image

  &__image {
    max-width: 100%;
  }

  // .main-communication__ficaption

  &__ficaption {
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
    margin-bottom: 40px;
    @media (min-width: 767px) {
      margin-bottom: 0;
    }
  }
}
.advantages {
  &__line {
    width: 150px;
    height: 1px;
    background-color: #0000001a;
    margin-bottom: 33px;
    @media (min-width: 767px) {
      margin-bottom: 0;
    }
  }
  // .advantages__row

  &__row {
    display: flex;
    flex-direction: column;

    @media (min-width: 767px) {
      flex-direction: row;
      margin: 0 -15px;
      margin-top: 41px;
    }
  }

  // .advantages__column

  &__column {
    @media (min-width: 767px) {
      flex: 1 1 33.3333%;
      padding: 0 15px;
    }
  }

  // .advantages__item

  &__item {
    font-size: 18px;
    line-height: 26px;
  }

  // .advantages__tools

  &__tools {
    margin-bottom: 14px;
    span {
      font-weight: 700;
    }
  }

  // .advantages__link

  &__link {
    display: block;
    color: #3040c4;
    font-weight: 700;
    margin-bottom: 33px;
    @media (min-width: 767px) {
      margin-bottom: 0;
    }
  }
}

a.advantages__link {
  text-decoration: underline;
}
