.features-mobile {
  padding: 0 15px;
  @media (min-width: 459px) {
    display: none;
  }

  // .features-mobile__block

  &__block {
  }

  // .features-mobile__column

  &__column {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e3e3e3;
  }

  // .features-mobile__suptitle

  &__suptitle {
    color: #009b4d;
    font-weight: 700;
    line-height: 34px;
    font-size: 22px;
  }

  // .features-mobile__title

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    margin-top: 17px;
  }

  // .features-mobile__text

  &__text {
    font-size: 24px;
    line-height: 34px;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  // .features-mobile__picture

  &__picture {
    display: block;

    img {
      max-width: 90%;
    }
  }

  // .features-mobile__subtext

  &__subtext {
    color: rgba(43, 41, 45, 0.6);
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin-top: 19px;
    padding-bottom: 40px;
  }
}
