.feedback {
  border-bottom: 1px solid #0000001a;

  @media (max-width: 767px) {
    padding-top: 39px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // .feedback__block

  &__block {
    text-align: left;
    padding: 0 15px;
    @media (min-width: 768px) {
      text-align: center;
    }
  }

  // .feedback__title

  &__title {
    color: #3142c6;
    font-weight: 700;
    line-height: 30px;
  }

  // .feedback__text

  &__text {
    margin: 28px auto 0;
    line-height: 24px;
    font-size: 16px;
    max-width: 540px;
  }

  // .feedback__name

  &__name {
    margin-top: 34px;
    font-size: 16px;
    font-weight: 700;
  }

  // .feedback__position

  &__position {
    color: rgba(43, 41, 45, 0.6);
    font-size: 16px;
    line-height: 24px;
  }

  // .feedback__dotts

  &__dotts {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 19.5px;
  }

  // .feedback__dott

  &__dott {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #2b292d26;
    transition: background 0.3s ease 0s;
    @media (min-width: 768px) {
      &:hover {
        background-color: #3142c5;
      }
    }
    &_selected {
      background-color: #3142c5;
    }
  }

  // .feedback__picture

  &__picture {
    display: flex;
    flex-direction: row-reverse;
    @media (min-width: 768px) {
      padding-right: 26px;
    }
    @media (min-width: 998px) {
      margin-top: -180px;
    }
  }

  // .feedback__img

  &__img {
    max-width: 100%;
  }
}
