.footer {
  &__top {
  }

  // .footer__bottom

  &__bottom {
  }
}
.top {
  padding: 33px 15px 59px 15px;
  @media (max-width: 767px) {
    padding-bottom: 30px;
  }
  // .top__block

  &__block {
    display: flex;
    @media (max-width: 780px) {
      flex-direction: column;
    }
  }

  // .top__column

  &__column {
    &:first-child {
      @media (min-width: 850px) {
        flex: 1;
        margin-right: 160px;
      }
      @media (max-width: 767px) {
        padding-bottom: 40px;
        text-align: center;
        border-bottom: 1px solid #e3e3e3;
        margin-bottom: 10px;
      }
    }
    flex: 1 0 20%;
  }

  // .top__logo

  &__logo {
    @media (max-width: 780px) {
      display: flex;

      justify-content: center;
    }
  }

  // .top__text

  &__text {
    margin-top: 26px;
    font-size: 18px;
    line-height: 26px;
    color: rgba(43, 41, 45, 0.6);
    width: 328px;
    @media (max-width: 780px) {
      display: none;
    }
  }

  // .top__market

  &__market {
    margin-top: 25px;
    display: inline-block;
  }

  // .top__app-store

  &__app-store {
    margin-right: 10px;
  }

  // .top__google

  &__google {
  }

  // .top__title

  &__title {
    padding-top: 20px;
    font-size: 22px;
    font-weight: 700;
  }

  // .top__list

  &__list {
    margin-top: 21px;
  }

  // .top__item

  &__item {
    color: rgba(43, 41, 45, 0.6);
    font-size: 18px;
    line-height: 30px;
  }
}

.logo {
  @media (max-width: 600px) {
    display: block;
  }
  // .logo__icon

  &__icon {
    @media (max-width: 600px) {
      margin-bottom: 20px;
    }
  }

  // .logo__content

  &__content {
  }

  // .logo__title

  &__title {
  }

  // .logo__subtitle

  &__subtitl {
    font-size: 18px;
    line-height: 25px;
    color: $greyColor;
  }
}
.bottom {
  @media (min-width: 767px) {
    border-top: 1px solid rgba(43, 41, 45, 0.1);
  }
  // .bottom__block

  &__block {
    align-items: center;
    height: 50px;
    @media (min-width: 780px) {
      display: flex;
      justify-content: space-between;
    }
  }

  // .bottom__license

  &__license {
    color: rgba(43, 41, 45, 0.6);
    font-size: 14px;
    margin-right: 18px;

    @media (max-width: 767px) {
      margin-bottom: 31px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  // .bottom__social

  &__social {
    display: block;
    a {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
    @media (max-width: 767px) {
      padding-bottom: 22px;
    }
  }
}
