.headline {
  padding: 0 15px;
  background: rgba(243, 198, 189, 1);

  @media (min-width: 600px) {
    position: relative;
  }
  // .headline__content

  &__content {
    position: relative;
    z-index: 1;
    @media (min-width: 600px) {
    }
  }

  // .headline__title

  &__title {
    padding-top: 35px;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -0.31px;

    @media (min-width: 600px) {
      padding-top: 0;
      font-size: 80px;
      font-weight: 700;
      line-height: 78px;
      max-width: 754px;
    }

    @media (max-width: 992px) {
      font-size: 65px;
    }
    @media (max-width: 768px) {
      font-size: 55px;
    }
  }

  // .headline__text

  &__text {
    max-width: 456px;
    font-style: 24px;
    @media (max-width: 600px) {
      padding-right: 24px;
      padding-top: 24px;
    }
    line-height: 34px;
    margin-top: 34px;
  }

  // .headline__controls

  &__controls {
    padding-top: 30px;
    padding-bottom: 18px;
    @media (min-width: 600px) {
      padding-top: 0;
      margin-top: 58px;
      padding-bottom: 126px;
    }
  }

  // .headline__button

  &__button {
    background: rgba(48, 64, 196, 1);
    color: #fff;
    width: 160px;
    line-height: 48px;
    text-align: center;
    border-radius: 2px;
    font-size: 18px;
    @media (max-width: 600px) {
      display: block;
      width: 100%;
      margin-bottom: 15px;
    }

    &_white {
      background: #fff;
      color: rgba(48, 64, 196, 1);
    }
  }

  // .headline__banner

  &__banner {
    padding-bottom: 36px;
    @media (min-width: 600px) {
      position: absolute;
      right: 0;
      top: 8px;
      padding-bottom: 36px;
      opacity: 0.6;
    }
    @media (min-width: 1100px) {
      opacity: 1;
    }
    img {
      max-width: 100%;
    }
  }
}
