.headline {
  padding: 0 15px;
  background: rgba(243, 198, 189, 1);

  @media (min-width: 600px) {
    position: relative;
  }
  // .headline__content

  &__content {
    position: relative;
    z-index: 1;
    @media (min-width: 600px) {
    }
  }

  // .headline__title

  &__title {
    font-weight: 700;

    font-size: 50px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.31px;

    @media (min-width: 600px) {
      font-weight: 700;
      padding-top: 10px;
      font-size: 80px;
      font-weight: 700;
      line-height: 100%;
      max-width: 754px;
    }
  }

  // .headline__text

  &__text {
    max-width: 456px;
    font-style: 24px;
    line-height: 34px;
    margin-top: 54px;
    @media (max-width: 600px) {
      margin-top: 29px;
    }
  }

  // .headline__controls

  &__controls {
    padding-top: 20px;
    padding-bottom: 18px;
    @media (min-width: 600px) {
      padding-top: 0;
      margin-top: 58px;
      padding-bottom: 126px;
    }
  }

  // .headline__button

  &__button {
    font-weight: 700;
    background: rgba(48, 64, 196, 1);
    color: #fff;
    width: 160px;
    line-height: 48px;
    text-align: center;
    border-radius: 2px;
    font-size: 18px;
    @media (max-width: 600px) {
      display: block;
      width: 100%;
      margin-bottom: 15px;
    }

    &_white {
      background: #fff;
      color: rgba(48, 64, 196, 1);
    }
  }

  // .headline__banner

  &__banner {
    padding-bottom: 36px;
    @media (min-width: 600px) {
      position: absolute;
      right: 40px;
      top: 0px;
      padding-bottom: 36px;
      opacity: 0.6;
    }
    @media (min-width: 1100px) {
      opacity: 1;
    }
    img {
      max-width: 100%;
    }
  }
}
