.inbox {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fcf0e3;
  position: relative;
  @media (min-width: 459px) {
    display: block;
  }

  // .inbox__block

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

    @media (max-width: 860px) {
      padding-bottom: 50px;
      padding-top: 50px;
    }
    @media (min-width: 861px) {
      // padding-top: 65px;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 115px;
      align-items: start;
    }
  }

  // .inbox__picture

  &__picture {
    @media (min-width: 459px) {
      padding-top: 20px;
      padding-bottom: 101px;
    }
  }

  // .inbox__image

  &__image {
    max-width: 100%;
  }

  // .inbox__caption

  &__caption {
    display: none;
    @media (min-width: 459px) {
      display: block;
      text-align: center;
      padding-top: 15px;
      color: rgba(43, 41, 45, 0.6);
      line-height: 22px;
      font-size: 14px;
    }
  }

  // .inbox__content

  &__content {
    @media (max-width: 458px) {
      padding-top: 35px;
    }
    @media (min-width: 1400px) {
      padding-left: 30px;
      position: absolute;
      right: 99px;
    }
  }

  // .inbox__link

  &__link {
    color: rgba(241, 89, 43, 1);
    font-size: 22px;
    line-height: 34px;
    font-weight: 700;
  }

  // .inbox__title

  &__title {
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    margin-top: 17px;

    @media (min-width: 459px) {
      font-size: 56px;
      line-height: 56px;
      max-width: 377px;
      margin-top: 24px;
    }
  }

  // .inbox__text

  &__text {
    max-width: 100%;
    line-height: 34px;
    margin-top: 17px;
    @media (min-width: 459px) {
      max-width: 461px;
      margin-top: 29px;
    }
  }

  // .inbox__widgets

  &__widgets {
    max-width: 519px;
  }
}

.widgets-inbox {
  min-width: 290px;
  margin-top: 70px;
  padding: 30px 20px 28px 20px;
  border-bottom: 4px solid #0185d0;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);

  @media (min-width: 459px) {
    padding: 30px 30px 28px 30px;
    max-width: 519px;
    margin-left: -30px;
    margin-top: 44px;
  }

  // .widgets-inbox__block

  &__block {
  }

  // .widgets-inbox__comentary

  &__comentary {
    font-size: 20px;
    line-height: 28px;
    span {
      font-weight: 700;
    }
  }

  // .widgets-inbox__user-block

  &__user-block {
    display: flex;
    padding-top: 26px;
  }

  // .widgets-inbox__photo

  &__photo {
  }

  // .widgets-inbox__user-photo

  &__user-photo {
  }

  &__content {
    padding-left: 11px;
  }
  // .widgets-inbox__name

  &__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }

  // .widgets-inbox__description

  &__description {
    color: rgba(43, 41, 45, 0.6);
    font-size: 16px;
    line-height: 22px;
  }
}
